.body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    color: aliceblue;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(39, 35, 41);
    padding: 30px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.37) 5px 5px 5px 5px;
    max-width: 600px;
    min-width: 600px
}

.prompt{
    color: gray;
    font-size: 15px;
    margin: 2px 0px;
}

.button{
    background-color: blueviolet;
    border-radius: 18px;
    padding: 10px 25px;
    border: none;
    color: aliceblue;
    font-family: inherit;
    margin-right: 10px;
}

.button-single{
    margin-right: 0px;
}

.button-2{
    background-color: rgb(171, 131, 209);
    border-radius: 18px;
    padding: 10px 25px;
    border: none;
    font-family: inherit;
    width:100px;
    margin: 5px 0px;
}

.inactive{
    background-color: blanchedalmond;
}

.parent{
    margin: 10px 0px;
}

.grid{
    display: grid;
}

.row-1{
    grid-template-rows: 1fr;
}

.row-2{
    grid-template-rows: 1fr 1fr;
}

.row-3{
    grid-template-rows: 1fr 1fr 1fr;
}

.col-1{
    grid-template-columns: 1fr;
}

.col-2{
    grid-template-columns: 1fr 1fr;
}

.col-3{
    grid-template-columns: 1fr 1fr 1fr;
}

.label-input-group{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
}

.grid-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.label-input-group input{
    width: 80%;
    padding: 10px;
    border-radius: 8px;
}

.label-input-group textarea{
    width: 100%;
    padding: 10px;
    margin: 5px 0px;
    border-radius: 8px;
}

.skill-box{
    background-color: blueviolet;
    border-radius: 18px;
    padding: 10px 25px;
    margin: 0px 2px 2px 0px; 
}

.wrap{
    display: flex;
    flex-wrap: wrap;
}

.skill{
    width: 500px;
}

.w-fix{
    width: 70%;
}

@media only screen and (max-width: 600px) {
    .col-2,.col-3{
        grid-template-columns: 1fr;
    }

    .form{
        min-width: none;
        max-width: none;
        padding: 10px;
    }

    .grid{
        text-align: center;
    }
}